body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.nav-link {
  font-weight: 600;
  color: #fff;
}

/* Chat Application Style */

.blog-chat-box{
    font-size: 18px;
    padding: 10px 20px;
    color: #2feb77;
}

#mario-chat{
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 600px;
    overflow: auto;
    background: #cfcece8c;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

.blog-chat-head {
  color: #2feb77;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.strong{
    color: #2feb77;
    font-weight: bolder;
}

.chat-label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

.blog-chat-imput{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

.chat-but{
    background: #2feb77;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

.outer {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 4px;
}

/* Styles for landing page */

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  margin-top: -30px;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom, 
      rgba(83, 79, 79, 0.5),
      rgba(228, 236, 233, 0.5)
  ), url(img/hero1.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveRight 1s ease-out;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes moveLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }

  80% {
      transform: translateX(-10px);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}


legend {
  color: black;
}

label {
  font-size: 20px;
  color: black;
}


/* Chat Box user css */
#output {
  font-size: 25px;
}

#feedback {
  padding-left: 10px;
  font-size: 25px;
}
/* End here */

/* Hidden Profile */
.hidden-profile {
  display: none;
}

nav {
  margin-bottom: 3%;
}
button {
  margin-right: 10px;
}